@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
  color: white;
  border-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.card-title.h5{
  font-size: 20px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle.h6
{
  font-size: 15px;
}

.justify-content-center.navbar.navbar-expand.navbar-light {
  background-color: white;
  color: black;
  border-bottom: black 2px solid;
}

.justify-content-center.navbar.navbar-expand.navbar-light a img {
  height: auto;
  width: auto;
}

.justify-content-center.navbar.navbar-expand.navbar-light a {
  padding: 10px;
}

#checkout-form{
  font-size:large;
  padding: 15px;
}

form {
  /*width: 500px;*/
  /*height: 250px;*/
  border: 10px solid #000000;
  padding: 10px 0;
  margin: 50px auto;

}

h3{
  text-align: center;
}

form div div .btn.btn-primary.btn-block.w-100.btn.btn-primary{
  color: white;
  background-color: black;
  border-color: white;
}

/*card {*!*/
/*  background-color: #1b5633;*/
/*}*/