@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
  color: white;
  border-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.card-title.h5{
  font-size: 20px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle.h6
{
  font-size: 15px;
}

.justify-content-center.navbar.navbar-expand.navbar-light {
  background-color: white;
  color: black;
  border-bottom: black 2px solid;
}

.justify-content-center.navbar.navbar-expand.navbar-light a img {
  height: auto;
  width: auto;
}

.justify-content-center.navbar.navbar-expand.navbar-light a {
  padding: 10px;
}

#checkout-form{
  font-size:large;
  padding: 15px;
}

form {
  /*width: 500px;*/
  /*height: 250px;*/
  border: 10px solid #000000;
  padding: 10px 0;
  margin: 50px auto;

}

h3{
  text-align: center;
}

form div div .btn.btn-primary.btn-block.w-100.btn.btn-primary{
  color: white;
  background-color: black;
  border-color: white;
}
a {
  color: #030303 !important;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   display: inline-block;
   width: 175px;
}

.list-group-flush>.list-group-item {
    font-size: 15px;
}

.card-body {
  color: white !important;
}

h3 {
  display: inline;
  position:relative;
  left: 50%;
  margin-left: -100px;
}

.sneak_button {
  float: right;
  margin-top: 0;
  background-color: #030303 !important;
  border: white 2px solid !important;
  vertical-align: middle !important;
}

.sneak_header
{
  padding-top: 2.5%;
  padding-bottom: 15%;
}

.popup-box{
  text-align: center;
}
#close-icon{
  float: left;
  display: block;
}

.icon-div{
padding: 20px;
}

.mb-3 {
 text-align: left !important;
}

.popUpButton {
  width: 250px;
  background-color: #030303 !important;
  border: white 2px solid !important;
  
}
